* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --darkgrey: rgb(36, 41, 47, 1);
  --almostwhite: rgb(255, 255, 255, 0.9);
}

.search-input {
  margin-right: 1rem;
  padding: 0.5rem;
  width: 12rem;
  background-color: var(--darkgrey);
  color: var(--almostwhite);
  border: 1px solid var(--almostwhite);
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.search-input::placeholder {
  color: var(--almostwhite);
}

.header {
  background-color: var(--darkgrey);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 1rem;
  height: 3.3rem;
}

.results {
  margin-left: 7rem;
  margin-top: 1.5rem;
  margin-right: 8rem;
}

.result {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.result:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.search-result {
  font-weight: bolder;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid lightgray;
}

.result__name {
  margin: 0.5rem 0;
  margin-bottom: 0.8rem;
  color: rgb(52, 137, 235);
  font-size: 1rem;
}

.result__name:hover {
  text-decoration: underline;
}

.result__avatar {
  margin-top: 0.4rem;
  margin-right: 0.3rem;
  height: 1.5rem;
  border-radius: 50%;
}

.result__description {
  color: grey;
  font-size: 0.9rem;
}
.result__description:hover {
  text-decoration: underline;
}

.result__user-name {
  margin-top: -0.6rem;
  margin-bottom: 0.8rem;
  color: grey;
  font-size: 0.9rem;
}

.result__user-name:hover {
  text-decoration: underline;
}

.result-bottom {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  color: grey;
  font-size: 0.7rem;
}

.result__about-me:hover{
  text-decoration: underline;
}

.result__observers:hover {
  text-decoration: underline;
}

.result__color-of-main-language {
  border-radius: 50%;
  margin: 0 1rem;
  width: 0.9rem;
  height: 0.9rem;
}

.result__main-language {
  margin-right: 1rem;
}

.result__last-update:hover {
  text-decoration: underline;
}

.result__main-language:hover {
  text-decoration: underline;
}

.star-img {
  width: 1rem;
  margin-right: 0.2rem;
}

.result__about-me {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--darkgrey);
}

.user {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__avatar {
  width: 25rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.user__user-name {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  color: grey;
}

.user-bottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
}

.user__followers {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .results {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .user__avatar {
    width: 20rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
}